#cardWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: min(100%, 400px);
}

#cardHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1em;
}

#desc {
  font-size: 2em;
}
#name {
  display: flex;
  flex-wrap: nowrap;
  /* font-size: 4rem; */
  font-size: clamp(2rem, 3em, 4em);
}

#tempAndStatsWrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#temp {
  font-size: 5em;
}

#cardTemp {
  display: flex;
  border: 1px solid transparent;
}

#degCorFWrap {
  margin-top: 1rem;
}

#stats {
  font-size: 1.3rem;
}

#tempcf {
  font-size: 1.5em;
}
